* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.center {
  text-align: center;
  margin: auto;
  /*a small box around results*/
  border: 3px solid transparent;
  margin-top: 20px;
  padding: 0.5em;
  padding-top: 1em;
  font-size: 1em;
}


table {
  margin: auto;
}

h1 {
  text-align: center;
}


th {
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
}

td {
  text-align: center;
  padding-right: 10px;
}

a {
  font-size: 1em;
}

@media (min-width: 767px) {
  * {
    padding: 0;
  }
}
